/******************** Custom Properties ************************/
@import url(boostrap.css);
@import url("https://fonts.cdnfonts.com/css/sudo-var");


/* ******************** Fluid Design ******************** */
/* @link https://utopia.fyi/type/calculator?c=320,17,1.125,1920,20,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
  --step-4: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
  --step-6: clamp(2.15rem, calc(1.18rem + 4.86vw), 7.01rem);
}
/* colors */
:root{
  --bg-one:#0F0F0F;
  --bg-two:#001F58;
  --bg-three:#1d1d1d;
  --color-text-one:#FFFFFF;
  --font:  font-family: 'Sudo Var', sans-serif;;
}

/******************** Reset    ******************/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;}
  *,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-one);
  color: var(--color-text-one);
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-size: calc(14px+ (18-14) * ((100vw-300px) / (1400-300)));
}

iframe,
video {
  width: 100%;
  height: calc((100vw - 4rem) * (9 / 16));
  max-height: calc(800px * 9 / 16);
  aspect-ratio: 16 / 9;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote p,
figure {
  margin: 0;
}

blockquote {
  padding: 0.5rem 1.5rem;
  border-left: medium solid var(--primary-color);
  opacity: 0.75;
}

/******************** Components  ************************/
.line-1{
  width: auto;
  height: auto;
  z-index: 0;
} 
/******************** Utilities   ************************/
/* animations */
a:hover{
  transition-timing-function: ease;
  transform: scale(1.1);
  transition: 200ms;
}

              /* loader */
#loadingScreen {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  }
  .loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
  
  /*--------- animacion de clickme-------------  */
  @keyframes aumentar-encoger {
    0% { transform: scale(0.9); }
    50% { transform: scale(1); }
    100% { transform: scale(0.9); }
  }
  .click-me {
    animation: aumentar-encoger 5s infinite;
  }

  @keyframes flotar {
    0% { transform: translateY(1%); }
    50% { transform: translateY(8%); }
    100% { transform: translateY(1%); }
  }
  @keyframes flotar-2 {
    0% { transform: translateY(8%); }
    50% { transform: translateY(1%); }
    100% { transform: translateY(8%); }
  }
  @keyframes flotar-3 {
    0% { transform: translateY(0%); }
    50% { transform: translateY(10%); }
    100% { transform: translateY(0%); }
  }
  .floting {
    animation: flotar 10s infinite;
  }
  .floting-2 {
    animation: flotar-2 5s infinite;
  }
  .floting-3 {
    animation: flotar-2 14s infinite;
  }

/******************** Site Styles ************************/
/* -----------------index.html----------------------- */
.header-menu{
  display: flex;
  font-family: var(--font);
  font-style: italic;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px thin #FFFFFF  ;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2rem;
}
.nav>a{
  text-decoration: none;
  color: var(--color-text-one);
  margin: 2em;
}
.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content-one{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.content-two{
width: auto;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.content-section-one{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.link-content-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.link-content-one>p{
  font-size: 1.5rem;
  font-style: italic;
}
.content-section-two{
  display: flex;
  height: auto;
  width: auto;
}
.content-info{
  margin-top: 5rem;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.content-info>h2{
  margin-bottom:100px ;
}
.tecnologies{
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content:center;
  padding: 1rem;
  border-radius: 50px;
  width: auto;
  height: auto;
  background-color: var(--bg-two);
  padding: 2em;
  flex-wrap: wrap;
}
.tecnologies>img{
  margin: 1rem;
}
.information{
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 1rem; 
  flex-wrap: wrap;

}
.information>p{
  width: 50%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: thin;
}
.section-tools-desing{
  display: flex;
  margin: 0 auto;
  height: auto;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.section-tools-desing>h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.tools-desing{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4em;
  flex-wrap: wrap;
}
.section-tools-desing>p{
  width: 80%;
  font-size: 1.8rem;
  text-align: center;
  font-weight: thin;
}
.section-proyects{
  width: 50%;
  height: auto;
  padding: 4em;
  margin: 0 auto;
  display: flex; 
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.link-github{
  display: flex;
  height: auto;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.link-github>h3{
  font-size: 3rem;
  text-align: center;
}
.title{
  margin: 0 auto;
  padding: 2rem;
}
.title>h2{
  font-size: 3rem;
}
.social-network{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  flex-wrap: wrap;
}
.social-network>h2{
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}
.networks{
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.networks>a>img{
  padding: 1.5rem;
  width: auto;
  height: 200px;
}
.footer{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: 5rem;
  font-weight: bold;
  padding: 1.5rem;
  flex-wrap: wrap;
}
.text-items{
  display: flex;
  flex-wrap: wrap-reverse;
  width: 40%;
  height: auto;
  justify-content: space-evenly;
}
a{
  color: var(--color-text-one);
  text-decoration: none;
}
.icon-items{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  border-radius: 50px;
  height: auto;
  margin: 1rem;
  width: 30%;
}
.icon-items>a>img{
  width: 80px;
  padding: 1rem;
  height: auto;
}
/* ---------------media --------*/
@media (max-width: 800px) {
  /* Aquí van tus estilos CSS para pantallas con un ancho máximo de 800px */
  *img{
    width: 100px;
    height: auto;
  }
  h1{
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
  }
  h2{
    font-size: 2rem;
    text-align: center;
  }
  a{
    font-size: 1.5rem;
  }
  p{
    font-size: 10px;
  }
  .link-github{
    margin: 0 auto;
  }
  .image-responsive{
    transform: scale(2.5);
  }
}
@media (max-width: 603px) {
  .line{
    display: none;
  }  
  .information>p{
    height: 20%;
    width: 40vh;
  }
  .content-two>section>img{
    transform: scale(.8);
    padding: 0;
    margin: 0;
  }
  .link-github{
    padding: 1rem;
    
  }
}
/*------------- fin index.html----------------- */

/* ----------proyectos.html----------- */
.proyects-content{
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  text-align: center;
}


/*--------- fin proyectos.html---------------- */